.grid-container {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  position: relative;
}

.dummy-grid {
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
  display: grid;
  grid-auto-rows: max-content;
}

.virtualized-grid-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.virtualized-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-rows: max-content;
}
